<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 및 네트워크 상태 확인 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 위치 권한 추가 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="polling"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Polling"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- 네이버 지도 API 키 추가 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="towd002ukh"/>

        <activity android:name="com.example.polling.MainActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true"/>

        <activity android:name=".FindpwActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true"/>

        <activity android:name=".CalendarActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true"/>

        <activity android:name=".MeetingActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true"/>

        <activity android:name=".MeetingListActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true"/>

        <activity android:name=".ManagementActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true"/>

        <activity android:name=".MapActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true"/>

    </application>
</manifest>
